
@use "variables";

.contentContainer {
    flex-grow: 1;
    //max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    @media (min-width: variables.$breakpoint-md) {
        padding: 1rem;
    }
}

.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogoGroup {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.headerUserGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcomeCardContent {
    p {
        margin-bottom: 1.5rem;
    }
}

.projectsSection {
    margin-top: 1.5rem;
    & > * + * {
        margin-top: 0.75rem;
    }
}

.projectsTitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.projectGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: variables.$breakpoint-md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: variables.$breakpoint-lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.skeletonCard {
    display: flex;
    flex-direction: column;
    & > * + * {
        margin-top: 0.75rem;
    }
}

.skeletonContent {
    & > * + * {
        margin-top: 0.5rem;
    }
}

.infoText {
    text-align: center;
    color: hsl(var(--muted-foreground));
}

.errorText {
    color: hsl(var(--destructive));
}